commands:
  10_install_npm:
    command: "yum install nodejs npm --enablerepo=epel -y"
  20_config_npm:
    command: "sudo npm config set strict-ssl=false"

container_commands:
  10_config_npm:
    command: "npm config set strict-ssl=false"
  20_npm_install:
    command: "rm node_modules/evesrp"
  30_make_javascript:
    command: "make javascript"
  40_make_css:
    command: "make static"
  50_link_static:
    command: "ln -s src/evesrp/static"
  60_install_pymysql:
    command: "pip install PyMySQL"
  70_setup_develop:
    command: "./setup.py develop"
